*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

._*
.DS_Store

npm-debug.log
node_modules

clientside/app/scripts/*
clientside/app/styles/*
clientside/app/images/*
clientside/app/*.*
!clientside/app/**/.gitkeep